.text-lvl1 {
  // faceit lvl 1 color
  color: #fff;
}
.text-lvl2,
.text-lvl3 {
  // faceit lvl 2,3 color
  color: #00ff00;
}
.text-lvl4,
.text-lvl5,
.text-lvl6,
.text-lvl7 {
  // faceit lvl 4 color
  color: yellow;
}
.text-lvl8,
.text-lvl9 {
  // faceit lvl 8 color
  color: orange;
}

.text-lvl10 {
  // faceit lvl 10 color
  color: red;
}
