@tailwind base;
@tailwind components;
@tailwind utilities;
// import roboto font
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
// import var.scss
@import "faceit-vars";

$gold: rgba(241, 196, 15, 0.8);
$owner: #5d29b0;
$admin: #ff0000;
$moderator: #b3640b;
$vip: radial-gradient(
    ellipse farthest-corner at right bottom,
    #fedb37 0%,
    #fdb931 8%,
    #9f7928 30%,
    #8a6e2f 40%,
    transparent 80%
  ),
  radial-gradient(
    ellipse farthest-corner at left top,
    #ffffff 0%,
    #ffffac 8%,
    #d1b464 25%,
    #5d4a1f 62.5%,
    #5d4a1f 100%
  );
$subscriber: #1f8645;
$member: #2372f3;
$shadow: rgba(0, 0, 0, 0.1);
body {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
}
// body as image background
body {
  background: url("https://wallpaperaccess.com/full/1642299.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-item {
  position: relative;
  border-radius: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 5px 30px $gold;
  &:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 60px $gold;
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  // media query mobile devices
  @media (min-width: 767px) {
    &:hover {
      &:after {
        opacity: 1;
      }
    }
    &:hover {
      -webkit-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
    }
  }
}
.card-item {
  p {
    margin-bottom: 2vmin;
  }
}
// de homostraat
.owner {
  .card-item {
    border: 5px solid $owner;
  }
  .image-bg {
    background-color: $owner;
  }
}
.creator {
  .card-item {
    border: 2px solid $owner;
  }
  .image-bg {
    background: $owner;
  }
  .card-item {
    box-shadow: 0 5px 30px $owner !important;
    &:after {
      box-shadow: 0 5px 60px $owner !important;
    }
  }
}
.admin {
  .card-item {
    border: 2px solid $gold;
  }
  .image-bg {
    background-color: $admin;
  }
}
.vip {
  .card-item {
    border: 2px solid $gold;
  }
  .image-bg {
    background: $vip;
  }
}

.moderator {
  .card-item {
    border: 2px solid orange;
  }
  .image-bg {
    background-color: $moderator;
  }
  .card-item {
    box-shadow: 0 5px 30px $moderator !important;
    &:after {
      box-shadow: 0 5px 60px $moderator !important;
    }
  }
}

.subscriber {
  .image-bg {
    background-color: $subscriber;
  }
  .card-item {
    border: 2px solid $subscriber;
  }
  .card-item {
    box-shadow: 0 5px 30px $subscriber !important;
    &:after {
      box-shadow: 0 5px 60px $subscriber !important;
    }
  }
}
.member {
  .card-item {
    border: 2px solid $member;
  }
  .image-bg {
    background-color: $member;
  }
  .card-item {
    box-shadow: 0 5px 30px $member !important;
    &:after {
      box-shadow: 0 5px 60px $member !important;
    }
  }
}
// END MAIN CARDS

.kruis {
  position: relative;
  &:before {
    content: "";
    width: 1rem;
    height: 1rem;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background: url("../img/kruis.svg") no-repeat center center;
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    margin: auto 0;
  }
}
.match {
  position: relative;
  &:before {
    content: "";
    width: 1rem;
    height: 1rem;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background: url("../img/match.svg") no-repeat center center;
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    margin: auto 0;
  }
}
.check {
  position: relative;
  &:before {
    content: "";
    width: 1rem;
    height: 1rem;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background: url("../img/check.svg") no-repeat center center;
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    margin: auto 0;
  }
}
.faceit {
  position: relative;
  &:before {
    content: "";
    width: 1rem;
    height: 1rem;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background: url("../img/faceit.svg") no-repeat center center;
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    margin: auto 0;
  }
}
.card-img {
  border-radius: 50%;
  margin: 0 auto;
  width: 5cm;
}
.card-body {
  min-height: 24vh;
}

.image-bg {
  .rating {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5rem;
    width: 3.5rem;
    height: 2rem;
    text-align: center;
    margin: 0.5rem;
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
  }
  .card-flag {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 0.5rem;
    width: 4rem;
  }
}
